:root {
    --good-things-red: #C0323B;
    --good-things-green: #478175;
    --good-things-teal: #497C8F;
}

@font-face {
    font-family: Rubik;
    src: url('../src/assets/Fonts/Rubik-Regular.ttf') format('truetype');
    font-display: swap;   
}
  * {
    font-family: 'Rubik';
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    outline: none;
    border: none;
    color: #000;
  }

  a:hover,
  a:visited {
    color: #000;
  }

  button {
    appearance: none;
    filter: drop-shadow(0px 0px 0px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }